<h2>Users:</h2>

<button
  [disabled]="!enableAdd"
  class="btn btn-block mb-3"
  (click)="
    addUser({
      firstName: 'Mary',
      lastName: 'Breton',
      isActive: true
    })
  "
>
  Add New User
</button>

<ul *ngIf="loaded && users?.length > 0">
  <!-- Individual Cards -->
  <li
    class="card card-body mb-3 bg-white"
    *ngFor="let user of users"
    [class.bg-light]="user.isActive"
    [style.border-color]="user.isActive ? 'green' : ''"
  >
    <!-- Card Content -->
    <div>
      <!--  -->
      <div>
        <h4>{{ user.firstName }} {{ user.lastName }}</h4>
        <div *ngIf="user.age && user.address">
          <button
            id="extendedBtn"
            class="btn btn-success col-1"
            [style.margin-bottom]="'10px'"
            (click)="user.extendedInfo = !user.extendedInfo"
          >
            <i [ngClass]="user.extendedInfo ? 'fa fa-minus' : 'fa fa-plus'"></i>
          </button>
          <!--  -->
          <ul *ngIf="user.extendedInfo">
            <li class="list-group-item">Age: {{ user.age }}</li>
            <li class="list-group-item">
              Address: {{ user.address.street }} {{ user.address.city }}
              {{ user.address.state }}
            </li>
            <li class="list-group-item">
              Joined: {{ user.registered | date: "shortDate" }}
            </li>
            <li class="list-group-item">Credits: {{ 5 | number: "3.6" }}</li>
          </ul>
        </div>
        <!--  -->
      </div>
    </div>
  </li>
</ul>

<h3 *ngIf="!loaded">Loading...</h3>
<h3 *ngIf="users?.length == 0">No users found</h3>
